html {
    font-size: clamp(14px, 1.5vw, 18px);
}

header {
    margin: 0;
}

.head-content {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 50px;
}

#head-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    transition: background-image 1.5s ease-in-out;
}

header h1 {
    text-align: center;
    font-weight: 300;
    font-style: italic;
    color: #e24ac1;
    font-size: 5rem;
    padding: 100px 20px;
}

.page-view {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.omikuji {
    text-align: center;
    padding: 50px 20px;
    font-size: 20px;
    margin: 10px 10%;
    border: double 15px #fe0000;
    height: 100%;
    width: 40%;
    float: left;
}
.omikuji-headline {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
    background-color: #fe0000;
    color: #fff;
    padding: 10px;
    font-family: "Yu Mincho", "serif";
    font-weight: 400;
    border: double 5px #fff;
}
.omikuji-result {

    margin: 50px auto;
}
.omikuji-button {
    background-color: #ff0000;
    color: #fff;
    font-style: "Yu Mincho", "serif";
    font-weight: 400;
    width: 90%;
    border: double 5px #fff;
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
}
.overview {
    background-color: #f0f8ff;
    width: 200px;
    padding: 15px;
    border-radius: 8px;
    margin-left: 25%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.overview h3 {
    margin-top: 0;
    color: #333;
}
.overview-list li{
    list-style-type: none;
    padding-left: 0;
}

