html {
    font-size: clamp(14px, 1.5vw, 18px);
}
header {
    margin: 0;
}
.overview {
    background-color: #fdebfa;
    border: double 3px #000000;
    text-align: center;
    padding: 0px 20%;
}
.overview-list {
    list-style: none;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.overview-list a{
    color: #000000;
    text-decoration: none;       
}
.overview-list a:hover {
    color: #00c3ff;
    text-decoration: underline;
}
.header-content {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
#header-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    transition: background-image 1.5s ease-in-out;
}
header h1 {
    text-align: center;
    font-weight: 300;
    font-style: italic;
    color: #8fd8fb;
    font-size: 5rem;
    padding: 100px 20px;
}
.header-bottom {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0;
    margin-bottom: 50px;
    background-image: url(/images/background-images/S__58540038_0.jpg);
}
.omikuji-obj {
    text-align: center;
    padding: 10px 50px;
    font-size: 0.7em;
    margin: 10px 10%;
    border: double 15px #fe0000;
    height: auto;
    width: 400px;
    background-color: #fff0f5;
}
.omikuji-result img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.omikuji-headline {
    font-size: 25px;
    font-weight: bold;
    background-color: #fe0000;
    color: #fff;
    padding: 10px;
    font-family: "Yu Mincho", "serif";
    font-weight: 400;
    border: double 5px #fff;
}
.omikuji-result {
    width: 100%;
    height: 400px;
}
.omikuji-button {
    background-color: #ff0000;
    color: #fff;
    font-style: "Yu Mincho", "serif";
    font-weight: 400;
    width: 90%;
    border: double 5px #fff;
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
}
.fade {
    opacity: 0;
    transition: opacity 0.8s ease;
}
.fade.is-show {
    opacity: 1;
}
.omikuji-text {
    font-weight: bold;
    margin-top: 80px;
    width: 300px;
    height: 400px;
    padding: 30px 50px;
    border: double 5px #ff0000;
    background-color: #fff0f5;
    font-size: 1.2em;
}
.omikuji-sub {
    font-size: 0.85em;
    margin-top: 4px;
    min-height: 2.5em;
}
.message {
    font-size: 1.5em;
    margin-top: 10px;
    min-height: 2.5em;
}