header h1 {
    text-align: center;
    font-weight: 300;
    font-style: italic;
    color: #e24ac1;
    margin-bottom: 50px;
    font-size: 80px;
}
.overview {
    background-color: #f0f8ff;
    width: 200px;
    padding: 15px;
    border-radius: 8px;
    margin-left: 25%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.overview h3 {
    margin-top: 0;
    color: #333;
}
.overview-list li{
    list-style-type: none;
    padding-left: 0;
}
.omikuji {
    text-align: center;
    padding: 50px 20px;
    font-size: 20px;
    margin: 10px 5px;
    border: double 15px #fe0000;
    height: 100%;
}
.omikuji-headline {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
    background-color: #fe0000;
    color: #fff;
    padding: 10px;
    font-family: "Yu Mincho", "serif";
    font-weight: 400;
    border: double 5px #fff;
}
.omikuji-result {
        margin: 50px;
}
.omikuji-button {
    background-color: #ff0000;
    color: #fff;
    font-style: "Yu Mincho", "serif";
    font-weight: 400;
    width: 90%;
    border: double 5px #fff;
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
}


