html {
    font-size: clamp(14px, 1.5vw, 18px);
}

header {
    margin: 0;
}

.overview {
    background-color: #fdebfa;
    border: double 3px #000000;
    text-align: center;
    padding: 0px 20%;
}

.overview-list {
    list-style: none;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.overview-list a{
    color: #000000;
    text-decoration: none;       
}

.overview-list a:hover {
    color: #00c3ff;
    text-decoration: underline;
}

.header-content {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 50px;
}

#header-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    transition: background-image 1.5s ease-in-out;
}

header h1 {
    text-align: center;
    font-weight: 300;
    font-style: italic;
    color: #e24ac1;
    font-size: 5rem;
    padding: 100px 20px;
}

.omikuji {
    text-align: center;
    padding: 20px 100px;
    font-size: 0.9em;
    margin: 10px 10%;
    border: double 15px #fe0000;
    height: auto;
    max-width: 400px;
    float: left;

}

.omikuji img {
    width: 100%;
    height: auto;
}

.omikuji-headline {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
    background-color: #fe0000;
    color: #fff;
    padding: 10px;
    font-family: "Yu Mincho", "serif";
    font-weight: 400;
    border: double 5px #fff;
}

.omikuji-result {
    margin: 50px auto;
}

.omikuji-button {
    background-color: #ff0000;
    color: #fff;
    font-style: "Yu Mincho", "serif";
    font-weight: 400;
    width: 90%;
    border: double 5px #fff;
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
}


